@model IEnumerable<ToDo_List.Models.ToDoTask>

@{
    ViewData["Title"] = "Index";
}

<h1>Your ToDoTasks</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeadLine)
            </th>
            <th>
                <p>Actions</p>
            </th>
        </tr>
    </thead>
    <tbody>
@if(Model!=null)
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @if (item.DeadLine.Date == DateTime.Now.Date)
                    {
                        <p>Today at:   @Html.DisplayFor(modelItem => item.DeadLine.TimeOfDay)</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.DeadLine.Date)
                    }

            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                @*<a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a class="btn btn-secondary" asp-action="Create">Create New</a>
</p>
